Welcome to Inglorious Bites!
<% @menus.each do |menu| %>
  <h1><%= menu.name %></h1>
  <h3>Dishes:</h3>
  <% menu.products.each do |product| %>
    <h4>
      <%= product.name %>
    </h4>
  <% end %>
<% end %>
